<%- include ("../partials/header") %>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Update Grill</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Update Grill</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<div class="pd-20 card-box mb-30">
					<form action="/product/update-grill/<%= product.id %>" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Product Name</label>
									<input type="text" id="productName" name="name" value="<%= product.name %>"
										class="form-control">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Categories</label>
									<select id="productCategories" class="custom-select2 form-control" name="categories"
										multiple="multiple" style="width: 100%;">
										<% allCategories.forEach(function(category){ %>
											<%if (product.categories.some(productCategory=> productCategory.id
												==category.id)) { %>
												<option value="<%= category.id %>" selected>
													<%= category.name %>
												</option>
												<% } else{%>
													<option value="<%= category.id %>">
														<%= category.name %>
													</option>
													<% } %>
														<% }); %>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Old Price</label>
									<input id="demo2" value="<%= product.old_price %>" type="text" value="0"
										name="old_price">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>New Price</label>
									<input id="demo2" id="productPrice" value="<%= product.price %>" type="text"
										value="0" name="price">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="form-group">
									<label>Tags</label>
									<input class="tag-input" type="text" value="<%= product.tags %>" id="productTags"
										value="" name="tags" data-role="tagsinput" placeholder="add tags">
								</div>
							</div>
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="form-group">
									<label>Description</label>
									<textarea name="description"
										class="form-control"><%= product.description %></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="form-group">
									<label class="col-sm-12 col-md-2 col-form-label">Status</label>
									<div class="col-sm-12 col-md-10">
										<select name="status" class="custom-select col-12">
											<!-- <option selected="">Choose...</option> -->
											<option value="Sale" <%=product.status==='Sale' ? 'selected' : '' %> >Sale</option>
											<option value="Coming Soon"  <%=product.status==='Coming Soon' ? 'selected' : '' %> >Coming Soon</option>
											<option value="Out Of Stock"  <%=product.status==='Out Of Stock' ? 'selected' : '' %> >Out Of Stock</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 mb-30">
								<div class="pd-ltr-20 xs-pd-20-10">
									<div class="clearfix">
										<div class="pull-left">
											<label>Add Images</label>
										</div>
									</div>
									<div class="dropzone" action="#" id="my-awesome-dropzone">
										<div class="fallback">
											<input type="file" name="images" />
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12 mb-30">
								<button type="submit" id="submit-all" class="btn btn-primary btn-lg float-right">Submit
								</button>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>

	<%- include ("../partials/footer") %>
		<script>
			// $(function () {
			// 	var id = '<%= product.id %>'
			// 	var images = '<%= product.images %>'
			// 	images = images.split(',');
			// 	images.map(image => {
			// 		var path = `grillsupload/${image}`;
			// 		var mimetype = `image/${image.split('.').pop()}`
			// 		var file = new File([path], image, { type: mimetype })
			// 		// 	file['status'] = "queued";
			// 		// 	file['status'] = "queued";
			// 		// 	file['previewElement'] = "div.dz-preview.dz-image-preview";
			// 		// 	file['previewTemplate'] = "div.dz-preview.dz-image-preview";
			// 		// 	file['_removeLink'] = "a.dz-remove";
			// 		// 	file['webkitRelativePath'] = "";
			// 		// 	file['width'] = 500;
			// 		// 	file['height'] = 500;
			// 		// 	file['accepted'] = true;
			// 		// 	file['dataURL'] = path;
			// 		// 	file['upload'] = {
			// 		// 		bytesSent: 0,
			// 		// 		filename: "{{ $attach->file_name }}",
			// 		// 		progress: 0,
			// 		// 		total: {{ $attach -> file_size }} ,
			// 		// 	uuid: "{{ md5($attach->id) }}",
			// 		// };

			// 		var myDropzone = new Dropzone(".dropzone");
			// 		myDropzone.options.addedfile.call(myDropzone, path);
			// 		myDropzone.options.thumbnail.call(myDropzone, image, path);
			// 		myDropzone.files.push(file);
			// 	})
			// })

			var name = $("input#productName").val()
			var price = $("input#productPrice").val()
			var tags = $("input#productTags").val()
			var categories = $("input#productCategories").val()
			var file = $("input#email").val();
			if (name) {
				$('#submit-all').prop('disabled', true);
			}

			Dropzone.autoDiscover = false;
			var id = '<%= product.id %>'
			var images = '<%= product.images %>'
			console.log("images", images)
			images = JSON.parse(images)
			console.log("images", images)
			$(".dropzone").dropzone({
				addRemoveLinks: true,
				url: '/product/update-grill/:id',
				maxFilesize: 2000,
				autoProcessQueue: false,
				uploadMultiple: true,
				parallelUploads: 100,
				maxFiles: 10,
				acceptedFiles: '.png,.jpg,.pdf',
				dictDefaultMessage: 'Upload your files here',
				createImageThumbnails: false,
				removedfile: function (file) {
					var name = file.name;
					var _ref;
					return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
				},
				init: function () {
					dzClosure = this;
					console.log("images", images)
					images.map(image => {
						var path = `/grillsupload/${image}`;
						var mimetype = `image/${image.split('.').pop()}`;
						console.log("data", path, mimetype);
						var file = new File([path], image, { type: mimetype })
						dzClosure.options.addedfile.call(file, path);
						dzClosure.options.thumbnail.call(file, path);
						dzClosure.files.push(file);
					})


					// for Dropzone to process the queue (instead of default form behavior):
					document.getElementById("submit-all").addEventListener("click", function (e) {
						e.preventDefault();
						e.stopPropagation();
						dzClosure.processQueue();
					});

					//send all the form data along with the files:
					this.on("sendingmultiple", function (file, xhr, formData) {
						// form.append("data", jQuery("#additional-data").val());

						var data = $('form').serializeArray();
						$.each(data, function (key, el) {
							formData.append(el.name, el.value);
						});
					});

					this.on('error', function (files, response) {
						alert(response);
					});
				},

			});
		</script>